<h2>Uredi knjigu</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/books">Nazad</a>
    <button type="submit">Izmeni</button>
</form>