<h2>Nova knjiga</h2>
<form action="/books" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/books">Nazad</a>
    <button type="submit">Dodaj</button>
</form>