<header>
    <nav>
        <a href="/">Biblioteka</a>
        <ul>
            <li><a href="/authors">Autori</a></li>
            <li><a href="/authors/new">Dodaj autora</a></li>
        </ul>
    </nav>
</header>